@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: Roboto Slab, sans-serif;
  color: #4386bf;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

nav > button {
  margin-left: auto;
}

form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.newbook {
<<<<<<< Updated upstream
  margin-left: 3%;
  padding-bottom: 10px;
=======
  border-top: solid 1px #e8e8e8;
  margin-left: 1%;
  padding-bottom: 14px;
  width: 100%;
  margin-top: 3%;
>>>>>>> Stashed changes
}

.newbook > h3 {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  height: 1rem;
  width: 50%;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.newbook button {
  font-size: 12px;
  background-color: rgb(2, 144, 255);
  color: white;
  border: none;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  width: 18%;
  height: 2.713rem;
  font-family: Roboto Slab, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
}

<<<<<<< Updated upstream
input,
select {
  width: 55%;
  height: 35px;
  padding: 5px;
=======
input {
  width: 30%;
  height: 2.513rem;
  padding: 5px;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  font-family: Montserrat, sans-serif;
  border: 1px solid #e8e8e8;
  outline: none;
>>>>>>> Stashed changes
}

input::placeholder {
  color: #d4d4d4;
}

.book-title > h2 {
  width: 100%;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: Roboto Slab, sans-serif;
  font-size: 1.375rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #121212;
}

.book-section-one {
  width: 100%;
  background-color: white;
  height: 10%;
  margin-left: 1%;
  padding-top: 2px;
  padding-bottom: 15px;
  padding-left: 25px;
  display: flex;
  border: 1px solid rgb(221, 220, 220);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.genre-section {
  width: auto;
  padding-top: 1em;
}

.genre-section span {
  color: rgb(206, 205, 205);
  font-size: 13px;
  margin-bottom: 10px;
}

.genre-section p {
  width: 6.688rem;
  height: 3.188rem;
  margin: 0.25rem 0 0;
  font-family: Roboto Slab, sans-serif;
  font-size: 0.875rem;
<<<<<<< Updated upstream
  margin-top: 10px;
  margin-bottom: 50px;
=======
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
>>>>>>> Stashed changes
  color: #4386bf;
}

.updatebook {
  display: flex;
  color: #e8e8e8;
}

.updatebook button {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: Roboto Slab, sans-serif;
  background-color: transparent;
  font-size: 0.875rem;
  border: none;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.update-progress button {
  margin-top: 10px;
  font-family: Roboto Slab, sans-serif;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  background-color: rgb(2, 144, 255);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.updatebook button:hover {
  cursor: pointer;
}

.left-section-1 {
  border-left: 1px solid#e8e8e8;
  margin-right: 15px;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress .prt {
  position: relative;
  width: 100%;
  height: 140px;
  transform: rotate(270deg);
}

.progress .prt svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.progress .prt svg circle {
  width: 70%;
  height: 70%;
  fill: transparent;
  stroke-width: 5;
  stroke: #f3f3f3;
  transform: translate(5px, 5px);
}

.progress .prt svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
}

.output h3 {
  width: 4.25rem;
  height: 2.438rem;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  font-family: Montserrat, sans-serif;
}

.output span {
  width: 5rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: Roboto Slab, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.left-section-2 {
  border-left: 1px solid #f7f7f7;
  margin-left: 45px;
  height: 100px;
  margin-top: 1.2em;
}

.update-progress {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding-left: 5%;
}

.update-progress span {
  height: 1.525rem;
  opacity: 0.5;
  font-family: Roboto Slab, sans-serif;
  font-size: 0.913rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #616060;
}

.update-progress h4 {
  width: 30%;
  height: 1.813rem;
  font-family: Roboto Slab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #121212;
}

.update-progress button:hover {
  cursor: pointer;
}

.hl {
  border-top: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 85rem;
  margin-left: 3%;
}

.addBook-container h2 {
  margin-left: 3rem;
  margin-bottom: 20px;
  color: #7c7a7a;
}

.addBook-content {
  margin-left: 70px;
  margin-bottom: 3rem;
}

.addBook-content .input-text {
  width: 35%;
  height: 40px;
  margin-right: 55px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: -1.5rem;
}

.author-input {
  width: 35%;
  height: 40px;
  padding-left: 10px;
  margin-right: 55px;
  border-radius: 5px;
  border: 1px solid gray;
}

.addBtn {
  font-size: 18px;
  width: 15%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(25, 173, 192);
  color: #fff;
  border: none;
  height: 40px;
  margin-left: 2rem;
}

.addBtn:hover {
  cursor: pointer;
}

.book {
  margin: auto;
  width: 90%;
}

.categories {
  margin-top: 12rem;
  padding-left: 35rem;
  color: blue;
}

.login-btn {
  color: #0290ff;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  width: 37px;
  padding-bottom: 3px;
  background-color: white;
  height: 37px;
}

.login-btn:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  height: 100px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  width: 100%;
}

nav {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 50px;
  width: 100%;
  justify-content: left;
}

small {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.975rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  margin-left: 4.9%;
  text-decoration: none;
  font-size: 1.875rem;
  color: #0290ff;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  justify-content: left;
}

nav ul li a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.2em;
  color: #121212;
}

#catButton {
  font-size: 18px;
  width: 15%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(25, 173, 192);
  color: #fff;
  border: none;
  height: 40px;
  margin-left: 0;
  margin-top: 5rem;
}

#catButton:hover {
  cursor: pointer;
}
